
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="card-deck mb-3 text-center">
    {% if user.is_authenticated %}
    

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form class="form-group border-end" method="POST" action="#"> 
                    {% csrf_token %}
                    {{ formA |crispy}}
                    <button type="submit" class="btn btn-success" name="submit_form">Submit</button>
                </form>
            </div>

            <div class="col-sm">
                <form class="form-group border-start" method="POST" action="#"> 
                    {% csrf_token %}
                    {{ formB |crispy}}
                    <button type="submit" class="btn btn-success" name="submit_image">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="center text-center">
            {% for x,y in webData.items %}
            {{x}} : {{y}}
            <br>
            <br>
            {% endfor %}
            <br>
        </h3>
    </div>

    {% else %}
    <h3>404 NOT AUTHORIZED</h3>
    {% endif %}
  </section>

  {% endblock content %}