
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class=" ">
    <div class="text-center">
        <h2>Soil Type and Season</h2>
        <p>This Basic Search application provides crop based on the soil type and season</p>
    </div>
    {% if user.is_authenticated %}
    <form class="form-group" method="POST" action="#"> {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-success" name="submit">Submit</button>
    </form>

    <div class="container">
        <h3 class="center text-center">
            {% for x,y in webData.items %}
            {{x}} : {{y}}
            <br>
            <br>
            {% endfor %}
            <br>
            
        </h3>
    </div>

    {% else %}
    <h3>404 NOT AUTHORIZED</h3>
    {% endif %}
  </section>


  {% endblock content %}
